.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.banner h3 {
  position: absolute;
  top: 20%;
  left: 45%;
  color: aliceblue;
  font-weight: bold;
}
.banner-picture {
  height: 50vh;
  width: 100%;
  margin-bottom: 50px;
}
.badge {
  margin-left: 2.5%;
  margin-bottom: 2%;
  background-color: #f7e600;
  width: 30%;
  height: 300px;
  display: flex;
  align-items: center;
  
}
.badge h2{
  color: #282c34;
}

.badge img {
  height: 100px;
  margin-top: 25px;
}

.details-info {
  background-color: blue;
  padding: 30px;
  color: aliceblue;
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
  border-radius: 20px;
  height: 250px;
  position: relative;
  
}
.inside img{
  height: 200px;
  position: absolute;
  right: 30px;
  top: 25px;
}
.description {
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
}
.social a{
  padding: 20px;
  font-size: 35px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
